.portfoliocontainer {
  height: 1000px;
}

.portfoliomaintxtcontainer {
  display: grid;
  place-items: center;
}
.portfoliomaintxt {
  color: aquamarine;
  font-size: 40px;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
}

.portfoliogridcontainer {
  height: 775px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}

.card1portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.card2portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.card3portfolio {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.card4portfolio {
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.portfolio {

  cursor: pointer;
  box-shadow: 0px 0px 5px 1px #5a3d5c;
  border-radius: 5px;
  margin-top: 2px;
  height: 95%;
  width: 55%;
  background: #200f21;
}
.portfolio:hover {
  transform: scale(1.02);
  transition: all 1s ease-in-out;
}

#portfolioid1,
#portfolioid3 {
  margin-left: 35%;
}

#portfolioid2,
#portfolioid4 {
  margin-right: 35%;
}
#portfolioid3,#portfolioid4{
  height: 100%;
}

/* inner div animated in portfolio section */
.portfolio_div_inner_animated_div1,
.portfolio_div_inner_animated_div2,
.portfolio_div_inner_animated_div3,
.portfolio_div_inner_animated_div4 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 0%;
  width: 100%;
  background: #5a3d5c;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  place-items: center;
}

/* inner div of every class css */
.gitlogoclsofportfolio {
  margin-right: 20px;
  width: 35px;
  height: 35px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.websitelogoclsofportfolio {
  margin-right: 10px;
  opacity: 0;
  width: 35px;
  height: 35px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.gitlogoclsofportfolio:hover {
  transform: scale(1.2);
}

.websitelogoclsofportfolio:hover {
  transform: scale(1.2);
}
/* here comes the cards  image containing div*/
.customimageforcard1,
.customimageforcard2,
.customimageforcard3,
.customimageforcard4 {
  margin-top: 7px;
  margin-left: 2.5%;
  border-radius: 10px;
  height: 55%;
  width: 95%;
}

.customimageforcard1 {
    background-image: url(../images/portfolio_images/portfolioimage1.jpg);
    background-position: center;
    background-size: cover;
}

.customimageforcard2 {
    background-image: url(../images/portfolio_images/portfolioimage2.jpg);
    background-position: center;
    background-size: cover;

}

.customimageforcard3 {
    background-image: url(../images/portfolio_images/portfolioimage3.jpg);
    background-position: center;
    background-size: cover;

}

.customimageforcard4 {
    background-image: url(../images/portfolio_images/portfolioimage4.jpg);
    background-position: center;
    background-size: cover;

}

/* text of portfolio css */

.cardtxtofportfolio{
margin-top: 10%;
  font-family: "Varela Round", sans-serif;
font-size: 100%;
  text-align: center;
opacity: 1;
transition: all 0.3s ease-in;
}

@media only screen and (min-width: 1px) and (max-width: 1090px) {

 .portfoliogridcontainer {
    height: 1575px;
    display: grid;
    grid-template-rows: 25% 25%  25% 25%;
    grid-template-columns: 100%;
}
  
  .card1portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
  }
  .card2portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
  }
  .card3portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
  }
  .card4portfolio {
  
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
  }
  #portfolioid1,
#portfolioid3 {
    width: 350px;
  margin-left: 0%;
}

#portfolioid2,
#portfolioid4 {
    width: 350px;

  margin-right:0%;
} 
}




/* used skills logo css*/
.usedskillscls{
  width: 100%;
  margin-top: -7%;
  margin-left: 10%;
}
.skilllogo{
  height: 45px;
  width: 45px;
}
