.formouterdiv{
height: 100vh;
  background:rgb(10,9,26);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input,label{
  font-size: 100%;
  font-weight: bold;
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 10px;
  text-align: center;
  
}
textarea{
  height: 100px;
  width: 100%;
  outline: none;
  border-radius: 10px;
  text-align: center;
  
}
label{
  font-size: 100%;
}

.contactformbtn:active{
  background: white!important;
  color: black;
}
.contactformbtn{
  background:rgb(179,6,225) ;
  border: none;
  color: white;
  margin-top: 10px;
  border-radius: 50px;
  outline: none;
  font-size:100% ;
  font-weight: bolder;
  height: 40px;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


.contactustxt{
  color: rgb(179,6,225);
  text-align:center;
  font-size:60px;
}
